

html.hijacked {
	overflow: hidden;
}

.fsvs {
	overflow: hidden;
	position: relative;
	> div {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 9;
		> div {
			height: 100%;
			background: red;
			&:nth-child( 2 ) {
				background: blue;
			}
			&:nth-child( 3 ) {
				background: green;
			}
			&:nth-child( 4 ) {
				background: yellow;
			}
		}
	}
	&+ .fsvs-pagination {
		transition: all 0.4s;
		position: fixed;
		z-index: 999;
		left: 100%;
		top: 50%;
		margin: 0 0 0 -40px;
		padding: 0 0 0 50px;
		background: none;
		li {
			transition: all 0.4s;
			border-radius: 100%;
			list-style: none;
			display: block;
			width: 24px;
			height: 24px;
			text-align: center;
			line-height: 24px;
			border: 1px solid #404040;
			margin: 0 0 4px 0;
			span {
				display: block;
				width: 16px;
				height: 16px;
				border-radius: 100%;
				border: 1px solid #404040;
				margin: 3px auto;
			}
			&.active {
				border: 1px dashed #ffffff;
				span {
					background: #fff;
				}
			}
		}
		&.visible {
			padding: 0;
			z-index: 9991;
		}
	}
}