//
//	Shared common styles
// ------------------------------------------------ \

html.hijacked {
	overflow: hidden;
}

.fsvs {
	overflow: hidden;
	position: relative;
	> div {
		position: absolute;
		top: 0;
		left: 0;
		> div {
			height: 100%;
			background: red;
			&:nth-child( 2 ) {
				background: blue;
			}
			&:nth-child( 3 ) {
				background: green;
			}
			&:nth-child( 4 ) {
				background: yellow;
			}
		}
	}
}