//
//	Shared common styles
// ------------------------------------------------ \


.block {
	background: #0d0d0d;
	h1 {
		text-shadow: 0px 1px 60px #fff;
		color: $orange;
		text-align: center;
		font-size: 60px;
		font-weight: bold;
		padding: 200px 0 0 0;
		text-transform: uppercase;
	}
}

.block2 {
	background: url( /FSVS/images/background-01.jpg) no-repeat center center;
  	background-size: cover;
}

.block3 {
	background: url( /FSVS/images/background-02.jpg) no-repeat center center;
  	background-size: cover;
}

.contents {
	margin: 80px 100px;
	padding: 30px;
}

#fsvs1 {
	p, h2 {
		color: #0d0d0d;
	}
	.nth-class-1 {
		background: #0d0d0d;
		.contents {
			background: darken( $orange, 5% );
		}
	}
	.nth-class-2 {
		background: #0d0d0d;
		.contents {
			background: darken( #285e5e, 5% );
		}
	}
	.nth-class-3 {
		background: #0d0d0d;
		.contents {
			background: darken( #bc303a, 5% );
		}
	}
}

#fsvs2 {
	p, h2 {
		color: black;
	}
	.nth-class-1 {
		background: #DB0A5B;
	}
	.nth-class-2 {
		background: #F64747;
	}
	.nth-class-3 {
		background: #F62459;
	}
}

.scrollable {
	height: 400px;
	overflow: auto;
}