//
//	Shared common styles
// ------------------------------------------------ \


.block {
	background: black;
	h1 {
		text-shadow: 0px 1px 60px #fff;
		color: $orange;
		text-align: center;
		font-size: 60px;
		font-weight: bold;
		padding: 200px 0 0 0;
		text-transform: uppercase;
	}
}

.block2 {
	background: url( /FSVS/images/background-01.jpg) no-repeat center center;
  	background-size: cover;
}

.block3 {
	background: url( /FSVS/images/background-02.jpg) no-repeat center center;
  	background-size: cover;
}

#fsvs1 {
	.nth-class-1 {
		background: $orange;
	}
	.nth-class-2 {
		background: #285e5e;
	}
	.nth-class-3 {
		background: #bc303a;
	}
}

#fsvs2 {
	.nth-class-1 {
		background: #bc303a;
	}
	.nth-class-2 {
		background: #285e5e;
	}
	.nth-class-3 {
		background: $orange;
	}
}